<h1><%= @post.title %></h1>

<h2><%= @post.content %></h2>

Categories:
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>

<h3>comments</h3>
<% @post.comments.each do |comment| %>
  <%= comment.name %>
<% end %>

<%= form_for (Comment.new) do |p| %>
  <%= p.label :content %>
  <%= p.text_field :content %><br><br>
  <%= collection_select (:user, :user_id, User.all, :id, :username) %>
  <%= p.submit %>
<% end %>
